<div style="padding-left:130px;padding-right:200px;">
<h1>About us page.</h1>
 <p>This is simple angular ng-view and ng-route tutorial to demonstrate single page web app development.</p>
 <p>
   This is executed because of this code.
   <pre>
     <code>
       .when('/about',{
             templateURl: 'about.html'
       })
       
     </code>
        <div id="messages" ></div>
   </pre>
 </p>
 <p><a class="btn btn-primary btn-lg" href="#" role="button">Read tutorial</a></p>
 </div>
