<!DOCTYPE html>
<html lang="en">

    <head>

        <title>Imagine</title>

        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <!-- CSRF Token -->


        <!-- Main Font -->
        <script src="assets/js/webfontloader.min.js"></script>
        <script>
            WebFont.load({
                google: {
                    families: ['Roboto:300,400,500,700:latin']
                }
            });
        </script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-reboot.css">
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-grid.css">

        <!-- Theme Styles CSS -->
        <link rel="stylesheet" type="text/css" href="assets/css/theme-styles.css">
        <link rel="stylesheet" type="text/css" href="assets/css/blocks.css">
        <link rel="stylesheet" type="text/css" href="assets/css/fonts.css">

        <!-- Styles for plugins -->
        <link rel="stylesheet" type="text/css" href="assets/css/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" type="text/css" href="assets/css/simplecalendar.css">
        <link rel="stylesheet" type="text/css" href="assets/css/daterangepicker.css">
        <!-- Lightbox popup script-->
        <link rel="stylesheet" type="text/css" href="assets/css/magnific-popup.css">

        <script src="assets/js/app/angular.min.js"></script>
        <script src="assets/js/app/angular-route.min.js"></script>
        <script type="text/javascript" src="assets/js/app/HTML5-Desktop-Notifications2/desktop-notify.js"></script>
        <script type="text/javascript" src="assets/js/app/angular-web-notification/angular-web-notification.js"></script>
        <script src="assets/js/app/angular-animate.min.js" type="text/javascript"></script>
        <script src="assets/js/app/moment/moment.js"></script>
        <script src="assets/js/app/angular-moment/angular-moment.js"></script>
        <script src="script.js"></script>
        <script src="assets/js/app/socket.io-1.3.4.js"></script>
    </head>
    <body data-ng-app="imagineApp">
        <div ng-controller="cfgController">
            <!-- Fixed Sidebar Left -->
            <div ng-include="'partials/shared/left-sidebar.html'"></div>

            <!-- ... end Fixed Sidebar Left -->


            <!-- Fixed Sidebar Right -->
            <div ng-include="'partials/shared/right-sidebar.html'"></div>


            <!-- ... end Fixed Sidebar Right -->

            <!-- Header -->

            <!--<div ng-include="'partials/shared/header.html'"></div>-->
            <!-- Header -->

            <header class="header" id="site-header">

                <div class="page-title">
                    <h6>Newsfeed</h6>
                </div>

                <div class="header-content-wrapper">
                    <form class="search-bar w-search notification-list friend-requests">
                        <div class="form-group with-button">
                            <input class="form-control js-user-search" placeholder="Search here your news..." type="text">
                            <button>
                                <svg class="olymp-magnifying-glass-icon"><use xlink:href="assets/icons/icons.svg#olymp-magnifying-glass-icon"></use></svg>
                            </button>
                        </div>
                    </form>

                    <div class="control-block">

                        <div class="control-icon more has-items">
                            <svg class="olymp-chat---messages-icon"><use xlink:href="assets/icons/icons.svg#olymp-chat---messages-icon"></use></svg>
                            <div id="msgnotification" class="label-avatar bg-purple">{{ getNewPostsCounter() }}</div>

                            <div class="more-dropdown more-with-triangle triangle-top-center">
                                <div class="ui-block-title ui-block-title-small">
                                    <h6 class="title">Chat / Messages</h6>
                                    <a href="#">Mark all as read</a>
                                    <a href="#">Settings</a>
                                </div>

                                <div class="mCustomScrollbar" data-mcs-theme="dark">
                                    <ul class="notification-list chat-message">
                                        <li class="message-unread">
                                            <div class="author-thumb">
                                                <img src="assets/img/avatar59-sm.jpg" alt="author">
                                            </div>
                                            <div class="notification-event">
                                                <a href="#" class="h6 notification-friend">Diana Jameson</a>
                                                <span class="chat-message-item">Hi James! Itâ€™s Diana, I just wanted to let you know that we have to reschedule...</span>
                                                <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
                                            </div>
                                            <span class="notification-icon">
                                                <svg class="olymp-chat---messages-icon"><use xlink:href="assets/icons/icons.svg#olymp-chat---messages-icon"></use></svg>
                                            </span>
                                            <div class="more">
                                                <svg class="olymp-three-dots-icon"><use xlink:href="assets/icons/icons.svg#olymp-three-dots-icon"></use></svg>
                                            </div>
                                        </li>

                                    </ul>
                                </div>

                                <a href="#" class="view-all bg-purple">View All Messages</a>
                            </div>
                        </div>

                        <div class="author-page author vcard inline-items more">
                            <div class="author-thumb">
                                <img alt="author" src="assets/img/author-page.jpg" class="avatar">
                                <span class="icon-status online"></span>
                                <div class="more-dropdown more-with-triangle">
                                    <div class="ui-block-title ui-block-title-small">
                                        <h6 class="title">Your Account</h6>
                                    </div>

                                    <ul class="account-settings">
                                        <li>
                                            <a href="#">

                                                <svg class="olymp-menu-icon"><use xlink:href="assets/icons/icons.svg#olymp-menu-icon"></use></svg>

                                                <span>Profile Settings</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <svg class="olymp-logout-icon"><use xlink:href="assets/icons/icons.svg#olymp-logout-icon"></use></svg>

                                                <span>Log Out</span>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <a href="#" class="author-name fn">
                                <div class="author-title">
                                    James Spiegel <svg class="olymp-dropdown-arrow-icon"><use xlink:href="assets/icons/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
                                </div>
                                <span class="author-subtitle">SPACE COWBOY</span>
                            </a>
                        </div>

                    </div>
                </div>

            </header>

            <!-- ... end Header -->


            <!-- Responsive Header -->

            <header class="header header-responsive" id="site-header-responsive">

                <div class="header-content-wrapper">
                    <ul class="nav nav-tabs mobile-app-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#chat" role="tab">
                                <div class="control-icon has-items">
                                    <svg class="olymp-chat---messages-icon"><use xlink:href="assets/icons/icons.svg#olymp-chat---messages-icon"></use></svg>
                                    <div id="msgnotification" class="label-avatar bg-purple">{{ getNewPostsCounter() }}</div>
                                </div>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#search" role="tab">
                                <svg class="olymp-magnifying-glass-icon"><use xlink:href="assets/icons/icons.svg#olymp-magnifying-glass-icon"></use></svg>
                                <svg class="olymp-close-icon"><use xlink:href="assets/icons/icons.svg#olymp-close-icon"></use></svg>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Tab panes -->
                <div class="tab-content tab-content-responsive">

                    <div class="tab-pane " id="chat" role="tabpanel">

                        <div class="mCustomScrollbar" data-mcs-theme="dark">
                            <div class="ui-block-title ui-block-title-small">
                                <h6 class="title">Chat / Messages</h6>
                                <a href="#">Mark all as read</a>
                                <a href="#">Settings</a>
                            </div>

                            <ul class="notification-list chat-message">
                                <li class="message-unread">
                                    <div class="author-thumb">
                                        <img src="assets/img/avatar59-sm.jpg" alt="author">
                                    </div>
                                    <div class="notification-event">
                                        <a href="#" class="h6 notification-friend">Diana Jameson</a>
                                        <span class="chat-message-item">Hi James! Itâ€™s Diana, I just wanted to let you know that we have to reschedule...</span>
                                        <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
                                    </div>
                                    <span class="notification-icon">
                                        <svg class="olymp-chat---messages-icon"><use xlink:href="assets/icons/icons.svg#olymp-chat---messages-icon"></use></svg>
                                    </span>
                                    <div class="more">
                                        <svg class="olymp-three-dots-icon"><use xlink:href="assets/icons/icons.svg#olymp-three-dots-icon"></use></svg>
                                    </div>
                                </li>

                            </ul>

                            <a href="#" class="view-all bg-purple">View All Messages</a>
                        </div>

                    </div>

                    <div class="tab-pane " id="search" role="tabpanel">

                        <div class="mCustomScrollbar" data-mcs-theme="dark">
                            <form class="search-bar w-search notification-list friend-requests">
                                <div class="form-group with-button">
                                    <input class="form-control js-user-search" placeholder="Search your news..." type="text">
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
                <!-- ... end  Tab panes -->

            </header>

            <!-- ... end Responsive Header -->

            <div class="header-spacer"></div>

            <div class="container">
                <div class="row">
                    <!-- ... end Header -->



                    <!-- Main Content -->
                    <!--<div ng-include="'partials/shared/body.html'"></div>-->
                    <div ng-view class=""></div>

                    <!-- ... end Main Content -->


                    <!-- Left Sidebar -->
                    <!--<div ng-include="'partials/shared/body-left.html'"></div>-->

                    <!-- ... end Left Sidebar -->


                    <!-- Right Sidebar -->
                    <!--<div ng-include="'partials/shared/body-right.html'"></div>-->

                    <!-- ... end Right Sidebar -->



                </div>
            </div>
        </div>

        <!-- jQuery first, then Other JS. -->
        <script src="assets/js/jquery-3.2.0.min.js"></script>


        <!-- Js effects for material design. + Tooltips -->
        <script src="assets/js/material.min.js"></script>

        <!-- Helper scripts (Tabs, Equal height, Scrollbar, etc) -->
        <script src="assets/js/theme-plugins.js"></script>

        <!-- Init functions -->


        <!-- Load more news AJAX script -->
        <script src="assets/js/ajax-pagination.js"></script>

        <!-- Select / Sorting script -->
        <script src="assets/js/selectize.min.js"></script>

        <!-- Datepicker input field script-->
        <script src="assets/js/moment.min.js"></script>
        <script src="assets/js/daterangepicker.min.js"></script>

        <!-- Lightbox plugin script-->
        <script src="assets/js/jquery.magnific-popup.min.js"></script>

        <!-- Widget with events script-->
        <script src="assets/js/simplecalendar.js"></script>


        <script src="assets/js/mediaelement-and-player.min.js"></script>
        <script src="assets/js/mediaelement-playlist-plugin.min.js"></script>
    </body>

</html>

