<main class="col-xl-6 push-xl-3 col-lg-12 push-lg-0 col-sm-12 col-xs-12">

                    <div id="newsfeed-items-grid">

                        <div class="ui-block" data-ng-cloak data-ng-animate="'animate'" data-ng-repeat="upost in temporaryPostsCache ">
                            <article class="hentry post">

                                <div class="post__author author vcard inline-items">
                                    <img src="assets/img/avatar10-sm.jpg" alt="author">

                                    <div class="author-date">
                                        <a class="h6 post__author-name fn" href="#">{{ upost.nchannel.news_channel }}<div id="messages"><p></p></div></a>
                                        <div class="post__date">
                                            <time class="published" datetime="2004-07-24T18:18">
                                                Published by {{ upost.user.lastname }} {{ upost.user.name }} <span am-time-ago="{{ upost.created_at }}">
                                            </time>
                                        </div>
                                    </div>

                                    <div class="more"><svg class="olymp-three-dots-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/icons/icons.svg#olymp-three-dots-icon"></use></svg>
                                        <ul class="more-dropdown">
                                            <li>
                                                <a href="#">Edit Post</a>
                                            </li>
                                            <li>
                                                <a href="#">Delete Post</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                                <p>{{upost.post}}</p>

                                <div class="post-additional-info inline-items">

                                    <a href="#" class="post-add-icon inline-items">
                                        <svg class="olymp-heart-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/icons/icons.svg#olymp-heart-icon"></use></svg>
                                        <span>24</span>
                                    </a>

                                    <div class="names-people-likes">
                                        <a href="#">You</a> and
                                        <br>22 more liked this
                                    </div>


                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <svg class="olymp-speech-balloon-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/icons/icons.svg#olymp-speech-balloon-icon"></use></svg>
                                            <span>17</span>
                                        </a>

                                        <a href="#" class="post-add-icon inline-items">
                                            <svg class="olymp-share-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/icons/icons.svg#olymp-share-icon"></use></svg>
                                            <span>24</span>
                                        </a>
                                    </div>


                                </div>

                                <div class="control-block-button post-control-button">

                                    <a href="#" class="btn btn-control">
                                        <svg class="olymp-like-post-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/icons/icons.svg#olymp-like-post-icon"></use></svg>
                                    </a>

                                    <a href="#" class="btn btn-control">
                                        <svg class="olymp-comments-post-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/icons/icons.svg#olymp-comments-post-icon"></use></svg>
                                    </a>

                                    <a href="#" class="btn btn-control">
                                        <svg class="olymp-share-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/icons/icons.svg#olymp-share-icon"></use></svg>
                                    </a>

                                </div>

                            </article>
                            
                        </div>
                        
                        
                        
                        <div class="ui-block" data-ng-cloak data-ng-animate="'animate'" data-ng-repeat="post in posts ">
                            <article class="hentry post">

                                <div class="post__author author vcard inline-items">
                                    <img src="assets/img/avatar10-sm.jpg" alt="author">

                                    <div class="author-date">
                                        <a class="h6 post__author-name fn" href="#">{{ post.nchannel.news_channel }}<div id="messages"><p></p></div></a>
                                        <div class="post__date">
                                            <time class="published" datetime="2004-07-24T18:18">
                                                Published by {{ post.user.lastname }} {{ post.user.name }} <span am-time-ago="{{ post.created_at }}">
                                            </time>
                                        </div>
                                    </div>

                                    <div class="more"><svg class="olymp-three-dots-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/icons/icons.svg#olymp-three-dots-icon"></use></svg>
                                        <ul class="more-dropdown">
                                            <li>
                                                <a href="#">Edit Post</a>
                                            </li>
                                            <li>
                                                <a href="#">Delete Post</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                                <p>{{post.post}}</p>

                                <div class="post-additional-info inline-items">

                                    <a href="#" class="post-add-icon inline-items">
                                        <svg class="olymp-heart-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/icons/icons.svg#olymp-heart-icon"></use></svg>
                                        <span>24</span>
                                    </a>

                                    <div class="names-people-likes">
                                        <a href="#">You</a> and
                                        <br>22 more liked this
                                    </div>


                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <svg class="olymp-speech-balloon-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/icons/icons.svg#olymp-speech-balloon-icon"></use></svg>
                                            <span>17</span>
                                        </a>

                                        <a href="#" class="post-add-icon inline-items">
                                            <svg class="olymp-share-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/icons/icons.svg#olymp-share-icon"></use></svg>
                                            <span>24</span>
                                        </a>
                                    </div>


                                </div>

                                <div class="control-block-button post-control-button">

                                    <a href="#" class="btn btn-control">
                                        <svg class="olymp-like-post-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/icons/icons.svg#olymp-like-post-icon"></use></svg>
                                    </a>

                                    <a href="#" class="btn btn-control">
                                        <svg class="olymp-comments-post-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/icons/icons.svg#olymp-comments-post-icon"></use></svg>
                                    </a>

                                    <a href="#" class="btn btn-control">
                                        <svg class="olymp-share-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/icons/icons.svg#olymp-share-icon"></use></svg>
                                    </a>

                                </div>

                            </article>
                            
                            <ul class="comments-list" data-ng-cloak data-ng-animate="'animate'" data-ng-repeat="comment in post.comments">
                                <li>
                                    <div class="post__author author vcard inline-items">
                                        <img src="assets/img/author-page.jpg" alt="author">

                                        <div class="author-date">
                                            <a class="h6 post__author-name fn" href="02-ProfilePage.html">{{ comment.lastname }} {{ comment.name }}</a>
                                            <div class="post__date">
                                                <time class="published" datetime="2004-07-24T18:18">
                                                    <span am-time-ago="{{ comment.created_at }}">
                                                </time>
                                            </div>
                                        </div>

                                        <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/icons/icons.svg#olymp-three-dots-icon"></use></svg></a>

                                    </div>

                                    <p>{{ comment.comment }}</p>

                                    <a href="#" class="post-add-icon inline-items">
                                        <svg class="olymp-heart-icon"><use xlink:href="assets/icons/icons.svg#olymp-heart-icon"></use></svg>
                                        <span>3</span>
                                    </a>
                                    <a href="#" class="reply">Reply</a>
                                </li>
                            </ul>

                            <a href="#" class="more-comments" data-ng-cloak data-ng-show="post.comments.length > 0">View more comments <span>+</span></a>

                            <form class="comment-form inline-items">

                                <div class="post__author author vcard inline-items">
                                    <img src="assets/img/author-page.jpg" alt="author">
                                </div>

                                <div class="form-group with-icon-right is-empty">
                                    <textarea class="form-control" placeholder=""  ></textarea>
                                    <div class="add-options-message">
                                        <a href="#" class="js-open-popup options-message" data-popup-target=".update-header-photo">
                                            <svg class="olymp-camera-icon"><use xlink:href="assets/icons/icons.svg#olymp-camera-icon"></use></svg>
                                        </a>
                                    </div>

                                    <span class="material-input"></span><span class="material-input"></span></div>

                            </form>
                        </div>
                        
<!--                        <div class="ui-block">
                            <article class="hentry post">

                                <div class="post__author author vcard inline-items">
                                    <img src="assets/img/avatar10-sm.jpg" alt="author">

                                    <div class="author-date">
                                        <a class="h6 post__author-name fn" href="#">Elaine Dreyfuss<div id="messages" ></div></a>
                                        <div class="post__date">
                                            <time class="published" datetime="2004-07-24T18:18">
                                                9 hours ago
                                            </time>
                                        </div>
                                    </div>

                                    <div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/icons/icons.svg#olymp-three-dots-icon"></use></svg>
                                        <ul class="more-dropdown">
                                            <li>
                                                <a href="#">Edit Post</a>
                                            </li>
                                            <li>
                                                <a href="#">Delete Post</a>
                                            </li>
                                            <li>
                                                <a href="#">Turn Off Notifications</a>
                                            </li>
                                            <li>
                                                <a href="#">Select as Featured</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris consequat.
                                </p>

                                <div class="post-additional-info inline-items">

                                    <a href="#" class="post-add-icon inline-items">
                                        <svg class="olymp-heart-icon"><use xlink:href="assets/icons/icons.svg#olymp-heart-icon"></use></svg>
                                        <span>24</span>
                                    </a>

                                    <ul class="friends-harmonic">
                                        <li>
                                            <a href="#">
                                                <img src="assets/img/friend-harmonic7.jpg" alt="friend">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="assets/img/friend-harmonic8.jpg" alt="friend">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="assets/img/friend-harmonic9.jpg" alt="friend">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="assets/img/friend-harmonic10.jpg" alt="friend">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="assets/img/friend-harmonic11.jpg" alt="friend">
                                            </a>
                                        </li>
                                    </ul>

                                    <div class="names-people-likes">
                                        <a href="#">You</a>, <a href="#">Elaine</a> and
                                        <br>22 more liked this
                                    </div>


                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <svg class="olymp-speech-balloon-icon"><use xlink:href="assets/icons/icons.svg#olymp-speech-balloon-icon"></use></svg>
                                            <span>17</span>
                                        </a>

                                        <a href="#" class="post-add-icon inline-items">
                                            <svg class="olymp-share-icon"><use xlink:href="assets/icons/icons.svg#olymp-share-icon"></use></svg>
                                            <span>24</span>
                                        </a>
                                    </div>


                                </div>

                                <div class="control-block-button post-control-button">

                                    <a href="#" class="btn btn-control">
                                        <svg class="olymp-like-post-icon"><use xlink:href="assets/icons/icons.svg#olymp-like-post-icon"></use></svg>
                                    </a>

                                    <a href="#" class="btn btn-control">
                                        <svg class="olymp-comments-post-icon"><use xlink:href="assets/icons/icons.svg#olymp-comments-post-icon"></use></svg>
                                    </a>

                                    <a href="#" class="btn btn-control">
                                        <svg class="olymp-share-icon"><use xlink:href="assets/icons/icons.svg#olymp-share-icon"></use></svg>
                                    </a>

                                </div>

                            </article>

                            <ul class="comments-list">
                                <li>
                                    <div class="post__author author vcard inline-items">
                                        <img src="assets/img/author-page.jpg" alt="author">

                                        <div class="author-date">
                                            <a class="h6 post__author-name fn" href="02-ProfilePage.html">James Spiegel</a>
                                            <div class="post__date">
                                                <time class="published" datetime="2004-07-24T18:18">
                                                    38 mins ago
                                                </time>
                                            </div>
                                        </div>

                                        <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/icons/icons.svg#olymp-three-dots-icon"></use></svg></a>

                                    </div>

                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.</p>

                                    <a href="#" class="post-add-icon inline-items">
                                        <svg class="olymp-heart-icon"><use xlink:href="assets/icons/icons.svg#olymp-heart-icon"></use></svg>
                                        <span>3</span>
                                    </a>
                                    <a href="#" class="reply">Reply</a>
                                </li>
                                <li>
                                    <div class="post__author author vcard inline-items">
                                        <img src="assets/img/avatar1-sm.jpg" alt="author">

                                        <div class="author-date">
                                            <a class="h6 post__author-name fn" href="#">Mathilda Brinker</a>
                                            <div class="post__date">
                                                <time class="published" datetime="2004-07-24T18:18">
                                                    1 hour ago
                                                </time>
                                            </div>
                                        </div>

                                        <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/icons/icons.svg#olymp-three-dots-icon"></use></svg></a>

                                    </div>

                                    <p>Ratione voluptatem sequi en lod nesciunt. Neque porro quisquam est, quinder dolorem ipsum
                                        quia dolor sit amet, consectetur adipisci velit en lorem ipsum duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
                                    </p>

                                    <a href="#" class="post-add-icon inline-items">
                                        <svg class="olymp-heart-icon"><use xlink:href="assets/icons/icons.svg#olymp-heart-icon"></use></svg>
                                        <span>8</span>
                                    </a>
                                    <a href="#" class="reply">Reply</a>
                                </li>
                            </ul>

                            <a href="#" class="more-comments">View more comments <span>+</span></a>

                            <form class="comment-form inline-items">

                                <div class="post__author author vcard inline-items">
                                    <img src="assets/img/author-page.jpg" alt="author">
                                </div>

                                <div class="form-group with-icon-right is-empty">
                                    <textarea class="form-control" placeholder=""  ></textarea>
                                    <div class="add-options-message">
                                        <a href="#" class="js-open-popup options-message" data-popup-target=".update-header-photo">
                                            <svg class="olymp-camera-icon"><use xlink:href="assets/icons/icons.svg#olymp-camera-icon"></use></svg>
                                        </a>
                                    </div>

                                    <span class="material-input"></span><span class="material-input"></span></div>

                            </form>

                        </div>

                        <div class="ui-block">
                            <article class="hentry post has-post-thumbnail">

                                <div class="post__author author vcard inline-items">
                                    <img src="assets/img/avatar5-sm.jpg" alt="author">

                                    <div class="author-date">
                                        <a class="h6 post__author-name fn" href="#">Green Goo Rock</a>
                                        <div class="post__date">
                                            <time class="published" datetime="2004-07-24T18:18">
                                                March 8 at 6:42pm
                                            </time>
                                        </div>
                                    </div>

                                    <div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/icons/icons.svg#olymp-three-dots-icon"></use></svg>
                                        <ul class="more-dropdown">
                                            <li>
                                                <a href="#">Edit Post</a>
                                            </li>
                                            <li>
                                                <a href="#">Delete Post</a>
                                            </li>
                                            <li>
                                                <a href="#">Turn Off Notifications</a>
                                            </li>
                                            <li>
                                                <a href="#">Select as Featured</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                                <p>Hey guys! We are gona be playing this Saturday of <a href="#">The Marina Bar</a> for their new Mystic Deer Party.
                                    If you wanna hang out and have a really good time, come and join us. We’l be waiting for you!
                                </p>

                                <div class="post-thumb">
                                    <img src="assets/img/post__thumb1.jpg" alt="photo">
                                </div>

                                <div class="post-additional-info inline-items">

                                    <a href="#" class="post-add-icon inline-items">
                                        <svg class="olymp-heart-icon"><use xlink:href="assets/icons/icons.svg#olymp-heart-icon"></use></svg>
                                        <span>49</span>
                                    </a>

                                    <ul class="friends-harmonic">
                                        <li>
                                            <a href="#">
                                                <img src="assets/img/friend-harmonic9.jpg" alt="friend">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="assets/img/friend-harmonic10.jpg" alt="friend">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="assets/img/friend-harmonic7.jpg" alt="friend">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="assets/img/friend-harmonic8.jpg" alt="friend">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="assets/img/friend-harmonic11.jpg" alt="friend">
                                            </a>
                                        </li>
                                    </ul>

                                    <div class="names-people-likes">
                                        <a href="#">Jimmy</a>, <a href="#">Andrea</a> and
                                        <br>47 more liked this
                                    </div>


                                    <div class="comments-shared">
                                        <a href="#" class="post-add-icon inline-items">
                                            <svg class="olymp-speech-balloon-icon"><use xlink:href="assets/icons/icons.svg#olymp-speech-balloon-icon"></use></svg>
                                            <span>264</span>
                                        </a>

                                        <a href="#" class="post-add-icon inline-items">
                                            <svg class="olymp-share-icon"><use xlink:href="assets/icons/icons.svg#olymp-share-icon"></use></svg>
                                            <span>37</span>
                                        </a>
                                    </div>


                                </div>

                                <div class="control-block-button post-control-button">

                                    <a href="#" class="btn btn-control">
                                        <svg class="olymp-like-post-icon"><use xlink:href="assets/icons/icons.svg#olymp-like-post-icon"></use></svg>
                                    </a>

                                    <a href="#" class="btn btn-control">
                                        <svg class="olymp-comments-post-icon"><use xlink:href="assets/icons/icons.svg#olymp-comments-post-icon"></use></svg>
                                    </a>

                                    <a href="#" class="btn btn-control">
                                        <svg class="olymp-share-icon"><use xlink:href="assets/icons/icons.svg#olymp-share-icon"></use></svg>
                                    </a>

                                </div>

                            </article>
                        </div>-->

                    </div>


                    <a id="load-more-button" href="#" class="btn btn-control btn-more" data-load-link="#" data-container="newsfeed-items-grid"><svg class="olymp-three-dots-icon"><use xlink:href="assets/icons/icons.svg#olymp-three-dots-icon"></use></svg></a>


                </main>