<!-- Fixed Sidebar Left -->

        <div class="fixed-sidebar">
            <div class="fixed-sidebar-left sidebar--small" id="sidebar-left">
                <a href="#" class="logo">
                    <img src="assets/img/logo.png" alt="Olympus">
                </a>

                <div class="mCustomScrollbar" data-mcs-theme="dark">
                    <ul class="left-menu">
                        <li>
                            <a href="#" class="js-sidebar-open">
                                <svg class="olymp-menu-icon left-menu-icon"><use xlink:href="assets/icons/icons.svg#olymp-menu-icon"></use></svg>
                            </a>
                        </li>
                        <li>
                            <a href="#/about">
                                <svg class="olymp-newsfeed-icon left-menu-icon"><use xlink:href="assets/icons/icons.svg#olymp-newsfeed-icon"></use></svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1">
                <a href="02-ProfilePage.html" class="logo">
                    <img src="assets/img/logo.png" alt="Olympus">
                    <h6 class="logo-title">olympus</h6>
                </a>

                <div class="mCustomScrollbar" data-mcs-theme="dark">
                    <ul class="left-menu">
                        <li>
                            <a href="#" class="js-sidebar-open">
                                <svg class="olymp-close-icon left-menu-icon"><use xlink:href="assets/icons/icons.svg#olymp-close-icon"></use></svg>
                                <span class="left-menu-title">Collapse Menu</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <svg class="olymp-newsfeed-icon left-menu-icon"><use xlink:href="assets/icons/icons.svg#olymp-newsfeed-icon"></use></svg>
                                <span class="left-menu-title">Newsfeed</span>
                            </a>
                        </li>
                    </ul>

                    <div class="profile-completion">

                        <div class="skills-item">
                            <div class="skills-item-info">
                                <span class="skills-item-title">Profile Completion</span>
                                <span class="skills-item-count"><span class="count-animate" data-speed="1000" data-refresh-interval="50" data-to="76" data-from="0"></span><span class="units">76%</span></span>
                            </div>
                            <div class="skills-item-meter">
                                <span class="skills-item-meter-active bg-primary" style="width: 76%"></span>
                            </div>
                        </div>

                        <span>Complete <a href="#">your profile</a> so people can know more about you!</span>

                    </div>
                </div>
            </div>
        </div>

        <!-- ... end Fixed Sidebar Left -->

        <!-- Fixed Sidebar Left -->

        <div class="fixed-sidebar fixed-sidebar-responsive">

            <div class="fixed-sidebar-left sidebar--small" id="sidebar-left-responsive">
                <a href="#" class="logo js-sidebar-open">
                    <img src="assets/img/logo.png" alt="Olympus">
                </a>

            </div>

            <div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1-responsive">
                <a href="#" class="logo">
                    <img src="assets/img/logo.png" alt="Olympus">
                    <h6 class="logo-title">olympus</h6>
                </a>

                <div class="mCustomScrollbar" data-mcs-theme="dark">

                    <div class="control-block">
                        <div class="author-page author vcard inline-items">
                            <div class="author-thumb">
                                <img alt="author" src="assets/img/author-page.jpg" class="avatar">
                                <span class="icon-status online"></span>
                            </div>
                            <a href="02-ProfilePage.html" class="author-name fn">
                                <div class="author-title">
                                    James Spiegel <svg class="olymp-dropdown-arrow-icon"><use xlink:href="assets/icons/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
                                </div>
                                <span class="author-subtitle">SPACE COWBOY</span>
                            </a>
                        </div>
                    </div>

                    <div class="ui-block-title ui-block-title-small">
                        <h6 class="title">MAIN SECTIONS</h6>
                    </div>

                    <ul class="left-menu">
                        <li>
                            <a href="#" class="js-sidebar-open">
                                <svg class="olymp-close-icon left-menu-icon"><use xlink:href="assets/icons/icons.svg#olymp-close-icon"></use></svg>
                                <span class="left-menu-title">Collapse Menu</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <svg class="olymp-newsfeed-icon left-menu-icon"><use xlink:href="assets/icons/icons.svg#olymp-newsfeed-icon"></use></svg>
                                <span class="left-menu-title">Newsfeed</span>
                            </a>
                        </li>
                    </ul>

                    <div class="ui-block-title ui-block-title-small">
                        <h6 class="title">YOUR ACCOUNT</h6>
                    </div>

                    <ul class="account-settings">
                        <li>
                            <a href="#">
                                <svg class="olymp-logout-icon"><use xlink:href="assets/icons/icons.svg#olymp-logout-icon"></use></svg>

                                <span>Log Out</span>
                            </a>
                        </li>
                    </ul>

                    <div class="ui-block-title ui-block-title-small">
                        <h6 class="title">About Olympus</h6>
                    </div>

                    <ul class="about-olympus">
                        <li>
                            <a href="#">
                                <span>Terms and Conditions</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>FAQs</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Careers</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Contact</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <!-- ... end Fixed Sidebar Left -->